<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fair_share2"
        android:label=""
        android:roundIcon="@drawable/fair_share_sin_fondo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SharerMonkeys"
        tools:targetApi="31">

        <activity android:name=".ListExpenses"
            android:exported="false"/>
        <activity
            android:name=".adapterutils.ParticipantListAdapter"
            android:exported="false" />
        <activity
            android:name=".NewFairShare"
            android:exported="false"
            android:theme="@style/Theme.SharerMonkeys.NoActionBar"> <!-- Aplicando el tema sin barra de acción -->
        </activity>
        <activity
            android:name=".NewExpense"
            android:exported="false"
            android:theme="@style/Theme.SharerMonkeys.NoActionBar"> <!-- Aplicando el tema sin barra de acción -->
        </activity>
        <activity
            android:name=".autentication.NewAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.SharerMonkeys.NoActionBar"> <!-- Aplicando el tema sin barra de acción -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".autentication.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.SharerMonkeys.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>